config:
  core.https_address: <%= @backside_network_address  %>:8443
  core.trust_password: <%= @password %>
storage_pools:
- config:
    ceph.cluster_name: ceph
    ceph.osd.pool_name: <%= @ceph_pool_name %>
    ceph.user.name: admin
    source: <%= @ceph_pool_name %>
  description: ""
  name: <%= @lxd_pool_name %>
  driver: ceph
cluster:
  server_name: <%= @hostname  %>
  enabled: true
  member_config: []
  cluster_address: ""
  cluster_certificate: ""
  server_address: ""
  cluster_password: ""
