#!/bin/bash
NODE_ADDRESS=$1
HOST_ADDRESS=$2
PASSWORD=$3
PRESEED_PATH=$4

HOSTNAME=$(hostname)
# adds indentation to the certificate so the YAML is configured correctly
sed -e 's/^/    /' /root/cluster.crt > /root/cluster-indented.crt
CLUSTER_CERTIFICATE=$(cat /root/cluster-indented.crt)

echo "config: {}
networks: []
storage_pools: []
profiles: []
projects: []
cluster:
  server_name: ${HOSTNAME}
  enabled: true
  member_config:
  - entity: storage-pool
    name: <%= @lxd_pool_name %>
    key: source
    value: <%= @ceph_pool_name %>
    description: '\"source\" property for storage pool \"lxd-storage\"'
  cluster_address: ${NODE_ADDRESS}:8443
  cluster_certificate: |
${CLUSTER_CERTIFICATE}
  server_address: ${HOST_ADDRESS}:8443
  cluster_password: ${PASSWORD}
" > $PRESEED_PATH

rm /root/cluster-indented.crt

lxd init --preseed < $PRESEED_PATH
