<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LXD-UI {%-if currentpage %} / {{currentpage|capitalize}}{%endif-%}</title>
    <!-- FAVICONS -->
        <link href="" />
    <link href="{{url_for('.static', filename='favicon.ico')}}" rel="shortcut icon"/>
    <link rel="icon" type="image/png" href="{{url_for('.static', filename='favicon-16x16.png')}}" sizes="16x16"/>
    <link rel="icon" type="image/png" href="{{url_for('.static', filename='favicon-32x32.png')}}" sizes="32x32"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}"/>


    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='fonts/fontello/css/fontello.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/ui.fancytree.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/app.css') }}" rel="stylesheet">
    <script src="{{ url_for('.static', filename='js/jquery-2.0.0.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/jquery.serializejson.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/datatables.min.css')}}"/>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/datatables.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/app.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/login.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/html.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/container-details.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/container.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/images.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/createcontainer.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/profile.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/network.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/storage-pool.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/properties.js')}}"></script>
    <!--markdown script-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <!-- TOASTER -->
    <link href="{{ url_for('.static', filename='css/toastr.css')}}" rel="stylesheet"/>
    <script src="{{ url_for('.static', filename='js/toastr.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/ace.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/mode-json.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/jquery.fancytree-all-deps.min.js')}}"></script>
    <link href="//cdn.jsdelivr.net/npm/jquery.fancytree@2.27/dist/skin-win8/ui.fancytree.min.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/jquery.fancytree@2.27/dist/jquery.fancytree-all-deps.min.js"></script>
    <!-- boostra-multiselect -->
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap-select.min.css')}}">
    <script src="{{ url_for('.static', filename='js/bootstrap-select.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/lodash.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/parsley.min.js')}}"></script>
    <link href="{{ url_for('.static', filename='css/jquery-ui.min.css')}}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('.static', filename='js/jquery-ui.min.js')}}"></script>
    <script src="{{ url_for('.static', filename='js/tag-it.min.js')}}" type="text/javascript" charset="utf-8"></script>
    <link href="{{ url_for('.static', filename='css/jquery.tagit.css')}}" rel="stylesheet" type="text/css">

    <script>

    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "0",
        "hideDuration": "100",
        "timeOut": "5000",
        "extendedTimeOut": "7250",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
        "escapeHtml" : true
        }
    </script>
    <style>
        #container-snapshot-overlay {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5);
            z-index: 9999;
            cursor: wait;
        }

        #container-snapshot-loader {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 120px;
            height: 120px;
            margin: -76px 0 0 -76px;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #286090;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        #container-snapshot-alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
            text-align: center;
            background-color: #286090;
        }

        /* Safari */
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <div class="container">

    <div class="col-lg-12">
        <div class="col-lg-2 main-div">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" style="text-align:center"><img src="{{ url_for('.static', filename='images/logo.png')}}" width="90%"/> </li>
                <li id="stamplike" role="presentation" class="label"></li>
                <li class="container-menu" role="presentation"><a href="/ui/containers"><span class="glyphicon glyphicon-th"> </span>Instances</a></li>
                <li class="image-menu" role="presentation"><a href="/ui/images"><span class="glyphicon glyphicon-hdd"> </span>Images</a></li>
                <li role="presentation"><a class="buttonLogout" id="button-log-out" style="cursor:pointer"><span class="glyphicon glyphicon-log-out"> </span>Logout</a></li>
            </ul>
        </div>
<!-- child template -->
        <div class="col-lg-10">
      {% block content %}{% endblock %}

        </div>

    </div>
    <p id="footer_paragraph">
        <span style="color:black">LXDUI v</span><b style="color:#FA5D26">{{lxdui_current_version}}</b><br/>
        Copyright © 2018 <a href="http://www.adaptivescale.com" target="_blank">AdaptiveScale, Inc.</a>
    </p>
    </div>

<div class="modal fade" id="jsonModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
            <div id="rawJson"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
</div>
</body>
</html>

