#!/bin/bash
INSTANCE_NAME=$1
IP_ADDRESS=$2
NETMASK=$3
GATEWAY=$4
DNS1=$5
DNS2=$6
DNS3=$7

NETMASK_CIDR='<%= @private_prefix %>'

CONTAINER_PRIVATE='container-private'
CONTAINER_LAN_PRIVATE='container-lan-private'
VM_PRIVATE='vm-private'
VM_LAN_PRIVATE='vm-lan-private'

# instance wait loop variables
COUNT=0
LIMIT=20
EXEC_TIMEOUT=6

function print_usage(){
    echo "The script should be used as follows:
    ./lxd-private-network.sh INSTANCE-NAME IP-ADDRESS NETMASK GATEWAY [DNS1] [DNS2] [DNS3]

E.g.: ./lxd-private-network.sh instance-name 10.20.30.40 255.255.255.0 10.20.30.1"
}

function write_container_private_network_file(){
    echo "network:
    version: 2
    ethernets:
        eth0:
            addresses:
            - ${IP_ADDRESS}/${NETMASK_CIDR}
            gateway4: $GATEWAY" > private-network.yaml
    
    if [ -n "$DNS1" ]
    then
        echo "            nameservers:
                addresses:" >> private-network.yaml
        echo "                - $DNS1" >> private-network.yaml
    fi

    if [ -n "$DNS2" ]
    then
        echo "                - $DNS2" >> private-network.yaml
    fi

    if [ -n "$DNS3" ]
    then
        echo "                - $DNS3" >> private-network.yaml
    fi
}

function write_vm_private_network_file(){
    echo "network:
    version: 2
    ethernets:
        enp5s0:
            addresses:
            - ${IP_ADDRESS}/${NETMASK_CIDR}
            gateway4: $GATEWAY" > private-network.yaml
    
    if [ -n "$DNS1" ]
    then
        echo "            nameservers:
                addresses:" >> private-network.yaml
        echo "                - $DNS1" >> private-network.yaml
    fi

    if [ -n "$DNS2" ]
    then
        echo "                - $DNS2" >> private-network.yaml
    fi

    if [ -n "$DNS3" ]
    then
        echo "                - $DNS3" >> private-network.yaml
    fi
}

function write_container_mixed_network_file(){
    echo "network:
    version: 2
    ethernets:
        eth1:
            addresses:
            - ${IP_ADDRESS}/${NETMASK_CIDR}
            gateway4: $GATEWAY" > private-network.yaml
    
    if [ -n "$DNS1" ]
    then
        echo "            nameservers:
                addresses:" >> private-network.yaml
        echo "                - $DNS1" >> private-network.yaml
    fi

    if [ -n "$DNS2" ]
    then
        echo "                - $DNS2" >> private-network.yaml
    fi

    if [ -n "$DNS3" ]
    then
        echo "                - $DNS3" >> private-network.yaml
    fi

    echo "network:
    version: 2
    ethernets:
        eth0:
            dhcp4: true" > public-network.yaml
}

function write_vm_mixed_network_file(){
    echo "network:
    version: 2
    ethernets:
        enp6s0:
            addresses:
            - ${IP_ADDRESS}/${NETMASK_CIDR}
            gateway4: $GATEWAY" > private-network.yaml
    
    if [ -n "$DNS1" ]
    then
        echo "            nameservers:
                addresses:" >> private-network.yaml
        echo "                - $DNS1" >> private-network.yaml
    fi

    if [ -n "$DNS2" ]
    then
        echo "                - $DNS2" >> private-network.yaml
    fi

    if [ -n "$DNS3" ]
    then
        echo "                - $DNS3" >> private-network.yaml
    fi

    echo "network:
    version: 2
    ethernets:
        enp5s0:
            dhcp4: true" > public-network.yaml
}

function wait_instance(){
    until lxc exec $INSTANCE_NAME -- echo 2> /dev/null
    do
        sleep $EXEC_TIMEOUT
        COUNT=$((COUNT+1))
        if [[ $COUNT -gt $LIMIT ]]; then
            echo "Instance $INSTANCE_NAME has not started."
            exit 1
        fi
    done
}

function apply_pub_network(){
    if lxc file pull "$INSTANCE_NAME"/etc/netplan/public-network.yaml ./tmp-public.yaml 2> /dev/null ; then
        # public network already declared, do nothing
        rm -f tmp-public.yaml public-network.yaml
    else
        if cmp -s public-network.yaml tmp-public.yaml; then
            # equal public network config, do nothing
            rm -f public-netmask.yaml tmp-public.yaml
        else
            lxc file push public-network.yaml $INSTANCE_NAME/etc/netplan/ 2> /dev/null
            rm -f public-netmask.yaml tmp-public.yaml
            lxc exec $INSTANCE_NAME -- netplan apply
            wait_instance
        fi
    fi
}

if [ -z "$GATEWAY" ]
then
    print_usage
    exit 1
fi

lxc info $INSTANCE_NAME > /dev/null || {
    echo "LXD instance \"$INSTANCE_NAME\" does not exist."
    exit 1
}

# instance type
TYPE=$(lxc query -X GET --wait /1.0/instances/$INSTANCE_NAME | grep -o -E "\"type\":.*" | tail -1)
PROFILES=$(lxc config show $INSTANCE_NAME | awk '/profiles/{f=1;next} /stateful:/{f=0} f' | cut -c 3-)

# wait for instance to start
wait_instance

echo "network: {config: disabled}" > 99-disable-network-config.cfg
lxc file push 99-disable-network-config.cfg $INSTANCE_NAME/etc/cloud/cloud.cfg.d/99-disable-network-config.cfg
lxc exec $INSTANCE_NAME -- rm -f /etc/netplan/50-cloud-init.yaml

if lxc file pull $INSTANCE_NAME/etc/netplan/private-network.yaml ./tmp-private.yaml 2> /dev/null ; then
    if [[ $TYPE == *'container'* ]]; then
        if [[ $PROFILES == *$CONTAINER_PRIVATE* ]]; then
            write_container_private_network_file
            lxc exec $INSTANCE_NAME -- rm -f /etc/netplan/public-network.yaml
        elif [[ $PROFILES == *$CONTAINER_LAN_PRIVATE* ]]; then
            write_container_mixed_network_file
            apply_pub_network
        else
            echo "Error: Instance $INSTANCE_NAME does not have private network profile."
            exit 1
        fi
    else
        if [[ $PROFILES == *$VM_PRIVATE* ]]; then
            write_vm_private_network_file
            lxc exec $INSTANCE_NAME -- rm -f /etc/netplan/public-network.yaml
        elif [[ $PROFILES == *$VM_LAN_PRIVATE* ]]; then
            write_vm_mixed_network_file
            apply_pub_network
        else
            echo "Error: Instance $INSTANCE_NAME does not have private network profile."
            exit 1
        fi
    fi

    if cmp -s private-network.yaml tmp-private.yaml; then
        # if equal do nothing
        rm -f private-network.yaml tmp-private.yaml 
    else
        # if not equal apply the changes
        lxc file push private-network.yaml $INSTANCE_NAME/etc/netplan/
        rm -f private-network.yaml tmp-private.yaml
        lxc exec $INSTANCE_NAME -- netplan apply
        wait_instance
    fi

else
    if [[ $TYPE == *'container'* ]]; then
        if [[ $PROFILES == *$CONTAINER_PRIVATE* ]]; then
            write_container_private_network_file
            lxc exec $INSTANCE_NAME -- rm -f /etc/netplan/public-network.yaml
        elif [[ $PROFILES == *$CONTAINER_LAN_PRIVATE* ]]; then
            write_container_mixed_network_file
            apply_pub_network
        else
            echo "Error: Instance $INSTANCE_NAME does not have private network profile."
            exit 1
        fi
    else
        if [[ $PROFILES == *$VM_PRIVATE* ]]; then
            write_vm_private_network_file
            lxc exec $INSTANCE_NAME -- rm -f /etc/netplan/public-network.yaml
        elif [[ $PROFILES == *$VM_LAN_PRIVATE* ]]; then
            write_vm_mixed_network_file
            apply_pub_network
        else
            echo "Error: Instance $INSTANCE_NAME does not have private network profile."
            exit 1
        fi
    fi

    lxc file push private-network.yaml $INSTANCE_NAME/etc/netplan/

    rm -f private-network.yaml

    lxc exec $INSTANCE_NAME -- netplan apply

    wait_instance
fi
