#!/bin/bash
INSTANCE_NAME=$1
MEMORY=$2
CPU=$3
DISK=$4
PROFILE=$5

if [ -z "$PROFILE" ]
then
    echo "Usage: `basename $0` INSTANCE_NAME MEMORY CPU DISK PROFILE"
    exit 1
fi

echo "An instance with the following configurations will be created:
  Name: $INSTANCE_NAME
  Memory: $MEMORY
  CPU: $CPU
  Disk size: $DISK
  Profile: $PROFILE
"

echo -n "Do you wish to proceed? (yes/no) : "
while true
do
    read ANSWER
    if [ "$ANSWER" == 'yes' ]; then
        break
    elif [ "$ANSWER" == 'no' ]; then
        exit 0
    else
        echo -n "Please enter 'yes' or 'no': "
    fi
done

sudo lxc init ubuntu2004 $INSTANCE_NAME -p $PROFILE -s <%= @storage_pool %>
sudo lxc config set $INSTANCE_NAME limits.memory=$MEMORY
sudo lxc config set $INSTANCE_NAME limits.cpu=$CPU
sudo lxc config device set $INSTANCE_NAME root size=$DISK
sudo lxc start $INSTANCE_NAME
