[Unit]
Description=Starts LXDUI
After=syslog.target network.target

[Service]
WorkingDirectory=<%= @ui_base_path %>/lxdui
ExecStartPre=/usr/bin/python3 <%= @ui_base_path %>/lxdui/setup.py install
ExecStart=/usr/local/bin/lxdui start
ExecStop=/usr/local/bin/lxdui stop
KillSignal=SIGINT
KillMode=control-group

[Install]
WantedBy=multi-user.target
