#!/bin/bash
INSTANCE_NAME=$1
PUBLIC_IP_ADDRESS=$2
LXD_SUBNET_ADDRESS=$3
NETMASK=$4
GATEWAY=$5
DNS1=$6
DNS2=$7
DNS3=$8

NETMASK_CIDR='<%= @prefix %>'

LXDUI_PROFILE='lxdui-container-profile'

function print_usage(){
    echo "The script should only be used on the LXDUI container:
    ./lxdui-network.sh INSTANCE-NAME PUBLIC-IP-ADDRESS LXD-SUBNET-ADDRESS NETMASK GATEWAY-IP DNS1 [DNS2] [DNS3]

E.g.: ./lxdui-network.sh lxdui-container 192.168.1.111 192.168.6.111 255.255.255.0 192.168.1.1 8.8.8.8"
}

function write_primary_network_file() {
    echo "network:
    version: 2
    ethernets:
        eth0:
            addresses:
            - ${PUBLIC_IP_ADDRESS}/${NETMASK_CIDR}
            gateway4: $GATEWAY
            nameservers:
                addresses:
                - $DNS1" > public-network.yaml

    if [ ! -z "$DNS2" ]
    then
        echo "                - $DNS2" >> public-network.yaml
    fi

    if [ ! -z "$DNS3" ]
    then
        echo "                - $DNS3" >> public-network.yaml
    fi
}

function write_secondary_network_file() {
    echo "network:
    version: 2
    ethernets:
        eth1:
            addresses:
            - ${LXD_SUBNET_ADDRESS}/${NETMASK_CIDR}
            dhcp4: false" > secondary-network.yaml
}


function wait_instance(){
    until lxc exec $INSTANCE_NAME -- echo 2> /dev/null
    do
        sleep $EXEC_TIMEOUT
        COUNT=$((COUNT+1))
        if [[ $COUNT -gt $LIMIT ]]; then
            echo "Instance $INSTANCE_NAME has not started."
            exit 1
        fi
    done
}

function wait_instance(){
    until lxc exec $INSTANCE_NAME -- echo 2> /dev/null
    do
        sleep $EXEC_TIMEOUT
        COUNT=$((COUNT+1))
        if [[ $COUNT -gt $LIMIT ]]; then
            echo "Instance $INSTANCE_NAME has not started."
            exit 1
        fi
    done
}

lxc info $INSTANCE_NAME > /dev/null || {
    echo "Error: LXD instance \"$INSTANCE_NAME\" does not exist."
    exit 1
}

wait_instance

echo "network: {config: disabled}" > 99-disable-network-config.cfg
lxc file push 99-disable-network-config.cfg $INSTANCE_NAME/etc/cloud/cloud.cfg.d/99-disable-network-config.cfg
lxc exec $INSTANCE_NAME -- rm -f /etc/netplan/50-cloud-init.yaml

write_primary_network_file

if lxc file pull "$INSTANCE_NAME"/etc/netplan/public-network.yaml ./tmp-public.yaml 2> /dev/null ; then
    if cmp -s public-network.yaml tmp-public.yaml; then
        # if equal do nothing
        rm -f public-network.yaml tmp-public.yaml
    else
       lxc file push public-network.yaml $INSTANCE_NAME/etc/netplan/
       rm -f public-network.yaml tmp-public.yaml
       lxc exec $INSTANCE_NAME -- netplan apply
       wait_instance
    fi
else
    lxc file push public-network.yaml $INSTANCE_NAME/etc/netplan/
    rm -f public-network.yaml
    lxc exec $INSTANCE_NAME -- netplan apply
    wait_instance
fi

write_secondary_network_file

if lxc file pull "$INSTANCE_NAME"/etc/netplan/secondary-network.yaml ./tmp-secondary.yaml 2> /dev/null ; then
    if cmp -s secondary-network.yaml tmp-secondary.yaml; then
        # if equal do nothing
        rm -f secondary-network.yaml tmp-secondary.yaml
    else
       lxc file push secondary-network.yaml $INSTANCE_NAME/etc/netplan/
       rm -f secondary-network.yaml tmp-secondary.yaml
       lxc exec $INSTANCE_NAME -- netplan apply
       wait_instance
    fi
else
    lxc file push secondary-network.yaml $INSTANCE_NAME/etc/netplan/
    rm -f secondary-network.yaml
    lxc exec $INSTANCE_NAME -- netplan apply
    wait_instance
fi
