from pylxd import Client
import random
import string

client = Client()
default_storage = '<%= @storage_pool %>'
storage_pool = client.storage_pools.get(default_storage)
images = client.images.all()
letters = string.ascii_lowercase
images = []

for image in client.api.images.get().json()['metadata']:
    images.append(client.api.images[image.split('/')[-1]].get().json()['metadata'])

valid_aliases = ['ubuntu2204vm','ubuntu2004vm','wserver19']
for image in images:
    fingerprint_path = '/1.0/images/' + image['fingerprint']
    load = False
    try:
        if image['aliases'][0]['name'] in valid_aliases:
            load = True
    except:
        # load only images with valid aliases
        pass

    # In version 4.0/stable storage_pool.used by returns an empty list when empty. On version 5.0 and higher it returns 'None'.
    storage_pool_used_by = storage_pool.used_by
    if storage_pool_used_by is None:
        storage_pool_used_by = []

    if (not fingerprint_path in storage_pool_used_by) and load:
        # image has not been loaded to the storage pool
        random_string = ''.join(random.choice(letters) for i in range(10))
        instance_name = 'preload-' + random_string + '-' + image['aliases'][0]['name']
        profile = 'container-private'
        if image['aliases'][0]['name'] == 'ubuntu2204vm' or image['aliases'][0]['name'] == 'ubuntu2004vm' or image['aliases'][0]['name'] == 'wserver19':
            profile = 'vm-private'
        instance_info = {'name': instance_name, 'source': {'type': 'image', 'fingerprint': image['fingerprint']}, 'profiles': [profile], 'devices': {'root': {'path': '/', 'pool': default_storage, 'size': '50GB', 'type': 'disk'}}, 'type': image['type']}
        client.instances.create(instance_info, wait=True)
        client.instances.get(instance_name).delete()

