from pylxd import Client
from pylxd import EventType
import nmap3
import json
import re
import time

client = Client()
NETWORK_ADDRESS = "<%= @lan_address %>"
IMAGE_ALIAS = 'wserver19'
DELAY = 10
TRIES = 6

def got_message(message):
    info = json.loads(message.data)
    instance_type = info['metadata']['source']
    instance_name = re.sub("/1.0/.+/", '', instance_type)
    try:
        instance_info = client.api.instances[instance_name].get().json()
        instance_action = info['metadata']['action']

        # extract the image alias
        image_aliases = client.images.get(instance_info['metadata']['config']['volatile.base_image']).aliases
        alias_found = False
        for alias in image_aliases:
            if alias['name'] == IMAGE_ALIAS:
                alias_found = True

        if alias_found and instance_action == 'instance-started':
            # the script needs to wait for the VM to be initialized
            # otherwise the nmap host discovery probe may not reach the VM
            instance_network = client.virtual_machines.get(instance_name).state().network
            ip_found = has_ip(instance_network)
            curr_tries = 0
            while not ip_found and (curr_tries < TRIES):
                time.sleep(DELAY)
                nmap3.NmapHostDiscovery().nmap_no_portscan(NETWORK_ADDRESS, args="--unprivileged")
                instance_network = client.virtual_machines.get(instance_name).state().network
                curr_tries = curr_tries + 1
                ip_found = has_ip(instance_network)
    except:
        # in case the instance is deleted or some error happens when searching for an instance
        # using pylxd, the script should not terminate
        return

def has_ip(network):
    # iterate over all interfaces to check if instance has an IP address
    for interface in network:
        for address in network[interface]['addresses']:
            if address['family'] == 'inet' and address['scope'] == 'global':
                return True

    return False

filter = set([EventType.Lifecycle])
ws_client = client.events(event_types=filter)
ws_client.received_message = got_message
ws_client.connect()
ws_client.run()
