[Unit]
Description=Starts the Windows VM IP finder script
After=syslog.target network.target

[Service]
WorkingDirectory=/root
ExecStart=/usr/bin/python3 <%= @localdir %>/bin/vm_ip_check.py

[Install]
WantedBy=multi-user.target

